/* Body + general + content containers */
body {
    background-color: #25262d;
}

* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.2rem;
}

p {
    font-size: 1rem;
}

a {
    font-size: 1.25rem;
}

* a:hover {
    color: #84acce;
}

.small-container {
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    padding: 130px 10px;
    max-width: 48rem;
    flex-wrap: wrap;
    color: white;
    margin: auto;
}

.small-container img {
    max-width: 100%;
    border-radius: 18px;
    margin: 4.5rem;
}

/* Scrollbar + Selectie v tekst */
::-moz-selection {
    color: white;
    background-color: #84acce;
}
::selection {
    color: white;
    background-color: #84acce;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #84acce;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #84acced5;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    /* background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

header img {
    text-decoration: none;
    height: 2.8rem;
}

.navbar a {
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.navbar a:hover {
    color: #84acce;
}

#check {
    display: none;
}

.header .icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}

@media (max-width: 1360px) {
    .header .icons {
        display: inline-flex;
    }

    #check:checked ~ .icons #menu-icon {
        display: none;
    }

    .header .icons #close-icon {
        display: none;
    }

    #check:checked ~ .icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: 0.3s ease;
    }

    #check:checked ~ .navbar {
        height: 15.5rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 2rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: 0.3 ease;
    }

    #check:checked ~ .navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(0.15s * var(--i));
    }
}

/* Fullscreen picture */
.fullscreenpicture {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreenpicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 26% 25%;
}

/* Socials */
.socials-wrapper {
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 10;
}

.socials-wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    margin: 13px;
}

.socials-wrapper a:hover {
    color: #84acce;
    border-color: #84acce;
}
/* .socials-wrapper a:nth-child(1) {
    color: #e1306c;
    border-color: #e1306c;
} */
/* .socials-wrapper a:nth-child(2){
    color: #00000000;
    border-color: #00000000;
} */
/* .socials-wrapper a:nth-child(3){
    color: #4267b2;
    border-color: #4267b2;
} */

/* Arrow */
.arrow-wrapper {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.arrow-wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
}

.arrow-wrapper a:hover {
    color: #84acce;
}

/* About */
.info {
    display: block;
}

.info {
    text-align: center;
}

.info i {
    font-size: 15rem;
    margin: 120px 0px 150px 0px;
}

.info h2 {
    padding: 0px 25px;
}

.info h2:last-child {
    padding: 0px 25px 90px 25px;
}

.info p:last-child {
    padding: 40px 50px 30px 50px;
    max-width: 500px;
    text-align: center;
    margin: auto;
}

.card {
    background-color: #84acce;
    border-radius: 18px;
    margin: 40px 20px 230px 20px;
}

@media (max-width: 1360px) {
    .info i {
        font-size: 12rem;
        margin: 70px 0px;
    }
    .info h2:last-child {
        padding: 0px 25px 70px 25px;
    }
}

/* Music collection size */
.collection {
    background-color: #000;
    color: #ffffff;
}

.vgigantisch {
    text-align: left;
}

.gigantisch {
    font-size: 10rem;
    text-align: center;
    padding: 30px 0 80px 0;
}
.ngigantisch {
    text-align: right;
}
/* Our genres */
/* .genres {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px;
    flex-wrap: wrap;
    align-content: center;
}

.genres p {
    text-transform: uppercase;
    padding: 10px 20px;
} */

/* Our logo Remixes & Tracks */
.ourmusic {
    background-color: #84acce;
}
/* Album slideshow */
.slider {
    position: relative;
}

.slider__container {
    cursor: grab;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slider__container.dragging {
    scroll-behavior: auto;
    cursor: grabbing;
}

.slider__item {
    padding: 16px 8px;
    flex: 0 0 auto;
    width: calc(100% / 5);
}

.slider__container[data-step="4"] .slider__item {
    width: calc(100% / 4);
}

.slider__container[data-step="3"] .slider__item {
    width: calc(100% / 3);
}

.slider__container[data-step="2"] .slider__item {
    width: calc(100% / 2);
}

.slider__container[data-step="1"] .slider__item {
    width: calc(100% / 1);
}

@media screen and (max-width: 1024px) {
    .slider__item,
    .slider__container[data-step="4"] .slider__item {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 768px) {
    .slider__item,
    .slider__container[data-step="4"] .slider__item,
    .slider__container[data-step="3"] .slider__item {
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 480px) {
    .slider__item,
    .slider__container[data-step="4"] .slider__item,
    .slider__container[data-step="3"] .slider__item,
    .slider__container[data-step="2"] .slider__item {
        width: calc(100% / 1);
    }
}

.slider__control {
    font-size: 16px;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #000;
    background: #fff;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s;
}

.slider__control.prev {
    left: 16px;
}

.slider__control.next {
    right: 16px;
}

.slider__control:hover {
    opacity: 1;
    transform: translateY(-50%) scale(1.2);
}

.slider__item img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}

/* Music player */
.ourmusic h1 {
    text-align: center;
    padding: 30px;
    color: white;
}

.oursongs {
    min-height: 450px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
    letter-spacing: 1px;
    transition: all 0.35s linear;
    display: flex;
    justify-content: space-around;
    align-items: center;
    --bg: #84acce;
    background-color: var(--bg);
    color: white;
    position: relative;
    z-index: 0;
}

.oursongs .player {
    width: 640px;
    background-color: var(--bg);
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-gap: 16px;
    padding: 8px 24px;
    position: relative;
    border-radius: 64px;
}

.oursongs .control,
#current {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 16px;
}

.oursongs #playbtn {
    font-size: 24px;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    cursor: pointer;
}

.oursongs #playbtn:hover {
    -webkit-text-fill-color: white;
}

.oursongs .info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.oursongs #current {
    text-align: right;
}

.oursongs .bar {
    --space: -4px;
    background-color: #2424240b;
    overflow: hidden;
    left: var(--space);
    right: var(--space);
    top: var(--space);
    bottom: var(--space);
    position: absolute;
    border-radius: 64px;
    z-index: -2;
}

.oursongs #progress {
    display: block;
    width: var(--progress, 0%);
    background-color: white;
    transition: all 1s linear;
    height: 100%;
}

/* Contact bookings, collabs, ... */
.bookings {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    color: white;
}

.bookings p {
    padding: 10px;
}

/* Footer */
hr {
    width: 92%;
    margin: auto;
}
footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 2rem 1rem;
}

@media (max-width: 1000px) {
    footer {
        display: flex;
        flex-direction: column;
        padding: 0.1rem;
    }
}
